img {
  width: 200px;
  margin: 20px 20px 0px 20px;
  border-radius: 10px;
  height: 130px;
  object-fit: cover;
}

#container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

h1 {
  text-align: center;
}

#container p {
  margin: 0px; 
}
